*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    font-family: 'Heebo', sans-serif;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}
header a{
    display: inline-flex;
    margin: 5px;
    text-decoration: none;
    color: black;
}
.un{
    background-image: url(mom1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: auto;
    padding: 200px;   
}
.un img{
    text-align: center;
    height: 86px;
    width: 150px;
    margin-left: 350px;
    margin-top: x;
    border-radius: 5px;
    background-color: white;
}
.text1{
  height: 70px;
  width: 364px;
  margin-left:250px;
  margin-top:120px;
  position: absolute;
  background-color: #605555;
  color: white;
}
.text1 p{
    font-family:'Heebo', sans-serif;
    font-size: 24px;
    text-align: center;
    color: white;
    padding: 10px;
}
.text2{
    margin-top: 100px;
    color: white;
    margin-left: 60px;
}
.text2 p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}
.deux{
    display:flex;
    justify-content: space-between;
    height: 500px;  
}
.text3{
    /* display: flex; */
    height: 140px;
    width: 150px;
    align-items: center;
    margin-left: 160px;
    margin-top: 80px;
    border-radius: 160px;
    border: 2px solid #369E;
}
.text3 img{
    margin-left: 53px;
    margin-top: 50px;
    width: 50px;
    height: 50px;
}
.text4{
    margin-left: -220px;
    text-align: center;
}
.text4 h2{
    margin-left: 4px;
    margin-top: 250px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
    color: #000000;
}
.flex{
    /* display: inline-flex; */
    margin-right: 60px;
    /* text-align: center; */
}
.text4 p{
    height: 20px;
    width: 300px;
    margin-left: 15px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400px;
    line-height: 15px;
    text-align: center;
    color: black;
}
.trois{
    height: 300px;
    /* width: 95%; */
    background-color: #C4C4C470;
}
.trois h1{
    height: 41px;
    width: 100px;
    margin-left: 600px;
    padding-top: 70px;
    font-weight: 30px;
}
.trois p{
    display: inline-flex;
    margin-left: 130px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-size: 15px;
    line-height: 100px;
    justify-content: space-between;
}

.quar{
    display: grid;
    height: 600px;
    text-align: center;
    background-color: #649A97;
}
.quar img{
    height: 280px;
    width: 300px;
    margin-right: 20px;
}
.cin{
    height: 500px;
    background-color: white;
}
.cin h2{
   text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 35px;
   margin-top: 80px;
}
.cin p{
    text-align: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 200;
    margin-top: 15px;
    letter-spacing: 0cm;
    line-height: 10px;
}
.avancer{
    display: flex;
    width: 424px;
    height: 15px;
    margin-left: 150px;
    margin-top: 10px;
    appearance: none;
}
progress::-webkit-progress-bar{
    background-color:grey;
    border-radius: 20px;
}
::-webkit-progress-value{
    background-color: #A5C0AD;
    border-radius: 20px;
}
.pro1 p{
    display: flex;
   margin-right: 250px;
   margin-top: 60px;
   font-size: 15px;
   font-weight: 700;
   font-family: Georgia, 'Times New Roman', Times, serif; 
}
.pro2 p{
    display: flex;
    margin-right: 250px;
    font-size: 15px;
    margin-top: 60px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif; 
 }
.pro1 span{
    position: absolute;
    margin-left: 230px;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 200;
    line-height: 10px;
    letter-spacing: 0cm;
    text-align: center;
}
.pro2 span{
    position: absolute;
    margin-left: 230px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 200;
    line-height: 10px;
    letter-spacing: 0cm;
    text-align: center;
}
 .pro{
    display: flex;
 }
.pro1{
    float: left;
    width: 720px;
    height: 200px;
    background-color: white;
}
.pro2{
    float: left;
    width: 720px;
    height: 200px;
    background-color: white;
}
.six{
    padding: 50px;
    background-color: #A5C0AD;
}
.six h2{
   display: flex;
   justify-content: center;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
   font-weight: 400px;
   color: white;  
}
.six p{
   color: white;
   height: 20px;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
}
.avatar{
    display:flex;
}
.avatar h4{
    height: 80px;
    width: 270px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background: white;
    margin-left:45px;
    font-weight: 400;
    text-align: center;
}
.avatar img{
    display: flex;
    text-align: center;
    height: 300px;
    width: 270px; 
    margin-left:45px;
    object-fit: cover; 
    margin-top: 55px;
 } 
.sept{
    height: 300px;
    /* width: 1400px; */
    margin-top: 50px;
    background-color: white;
    text-align: center;
}
.word img{
    width: 100px;
    height: 90px;
    margin: 0px;
}
.word p{
    margin-top: 60px;
}
.word2{
    margin-top: 60px;
}
footer{
    height: 500px;
    /* width: 1440px; */
    margin-top: 50px;
    background-color: rgb(238, 231, 231);
}
footer h4{
    margin-top: -40px;
    text-align: center;
    padding: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer h6{
    text-align: center;
    font-size: 12px;
    padding: 80px;
}
.foot{
    display: inline-flex;
}
.foot1{
    margin-left: 180px;
    margin-top: 65px;
}
.foot2{
    margin-left: 180px;
    margin-top: 65px;
}
.foot3{
    margin-left: 180px;
    margin-top: 65px;
}
.foot4{
    margin-left: 180px;
    margin-top: 65px;
}


    