*{
    margin: 0;
    padding: 0;
}
body{
    width: 1440px;
}
header{
    font-family: 'Heebo', sans-serif;
    text-align: center;
    align-items: center;
    font-size: 20px;
 
    height: 117px;
    width: 1440px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}
.deb{
    padding-top: 40px;
    align-items: center;
}
header a{
    text-decoration: none;
    color: black;
    margin-right: 15px;
}
.un{
    background-image: url(mom1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: auto;
    height: 691px;
    width: 1490px;
}

.un img{
    text-align: center;
    height: 86px;
    width: 150px;
    margin-left: 600px;
    margin-top: 200px;
    border-radius: 5px;
    background-color: white;
}
.text1{
  height: 70px;
  width: 364px;
  margin-left: 500px;
  margin-top: 300px;
  position: absolute;
  background-color: #605555;
  color: white;

}
.text1 p{
    font-family:'Heebo', sans-serif;
    font-size: 24px;
    text-align: center;
    color: white;
    padding: 10px;
}
.text2{
    height: 48px;
    width: 344px;
    margin-bottom: 200px;
    margin-left: 500px;
}
.text2 p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}
.deux{
    display: inline-flex;
     height: 400px;
}
.text3{
    display: grid;
    height: 140px;
    width: 150px;
    margin-left: 160px;
    margin-top: 50px;
    border-radius: 160px;
    border: 2px solid #369E;
}
.text3 img{
    margin-left: 45px;
    margin-top: 40px;
    width: 50px;
}

 .text4{
    margin-left: 90px;
    text-align: center;
    /* line-height: 10px; */
}
.text4 h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: #000000;
} 
.flex{
    margin-left: 80px;
}
.flex{
    display: inline-flex;
    margin-right: 160px;
    text-align: center;
}
.text4 p{
    height: 20px;
    width: 300px;
    margin-left: 15px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400px;
    line-height: 15px;
    text-align: center;
    color: black;
}
.trois{
    height: 300px;
    width: 1440px;
    background-color: #C4C4C470;
}
.trois h1{
    height: 41px;
    width: 100px;
    margin-left: 600px;
    padding-top: 70px;
    font-weight: 30px;
}
.trois p{
    display: inline-flex;
    margin-left: 130px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-size: 15px;
    line-height: 100px;
    justify-content: space-between;
}
.quar{
    display: grid;
    height: 600px;
    width: 1400px;
    text-align: center;
    background-color: #649A97;
}
.quar img{
    height: 280px;
    width: 320px;
    margin-right: 20px;
}
.cin{
    /* height: 500px;
    width: 1440px;
    background-color: white; */
    padding: 50px;
    width: 1440px;
}
.pro{
    width: 1000px;
    display: flex;
    justify-content: space-around;

}
.cin h2{
   text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 35px;
   
}
.cin p{
    text-align: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 200;
    margin-top: 15px;
    letter-spacing: 0cm;
    line-height: 10px;
}
.avancer{
    display: flex;
    width: 424px;
    height: 15px;
    margin-left: 150px;
    margin-top: 10px;
    appearance: none;
}
progress::-webkit-progress-bar{
    background-color:grey;
    border-radius: 20px;
}
::-webkit-progress-value{
    background-color: #A5C0AD;
    border-radius: 20px;
}
.pro1 p{
   margin-right: 250px;
   margin-top: 80px;
   font-size: 15px;
   font-weight: 700;
   font-family: Georgia, 'Times New Roman', Times, serif; 
}
.bén p{
    margin-left: 60px;  
}
.niar p{
    margin-left: 120px;
}
.niét p{
    margin-left: 100px;
}
.niént p{
    margin-left: 50px;
}
.pro2 p{
    margin-right: 250px;
    font-size: 15px;
    margin-top: 80px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif; 
 }
.pro1 span{
    position: absolute;
    margin-left: 230px;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 200;
    line-height: 10px;
    letter-spacing: 0cm;
    text-align: center;
}
.pro2 span{
    position: absolute;
    margin-left: 230px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 200;
    line-height: 10px;
    letter-spacing: 0cm;
    text-align: center;
}
.pro1{
    float: left;
    width: 720px;
    height: 200px;
    background-color: white;
}
.pro2{
    float: left;
    width: 720px;
    height: 200px;
    background-color: white;
}
.six{
   height: 800px;   
background-color: #A5C0AD;
}
.six h2{
   color: white;
   height: 32px;
   width: 180px;  
   margin-left: 600px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
   font-weight: 400px;
   line-height: 34px;
   text-align: center;
}
.six p{
   color: white;
   height: 54px;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;

}
.avatar{
    display:flex;
    justify-content: center;
    /* width: 1440px; */
    /* height: 404px; */
}
.avatar h4{
    height: 80px;
    width: 270px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
}
.avatar img{
    text-align: center;
    height: 300px;
    width: 270px; 
    object-fit: cover; 
    background-color: white; 
}
.imagejc{
    display: flex;
    margin-left: 1px;
    margin-top: 55px;
}
.jane{
    height: 400px;
    width: 270px; 
    margin-left: 10px;
    margin-top: 55px;
    background-color: white;
}
.jane h4{
    margin-left: 0px;
    background:white;
    box-shadow: 1px 1px 1px 1px white;
    margin-bottom: 5px;
} 
.imagejj{
    display: flex;
    margin-left: 1px;
    margin-top: 55px;
}
.jacob{
    height: 400px;
    width: 270px; 
    margin-top: 55px;
    margin-left: 60px;
    background-color: white;
}
.jacob h4{
    margin-left: 0px;
    background:white;
    box-shadow: 1px 1px 1px 1px white;
    margin-bottom: 5px;
} 
.imagela{
    display: flex;
    margin-left: 1px;
    margin-top: 55px;
}
.leslie {
    height: 400px;
    width: 270px; 
    margin-left: 60px;
    margin-top: 55px;
    background-color: white;
    }
.leslie h4{
    margin-left: 0px;
    background:white;
    box-shadow: 1px 1px 1px 1px white;
    margin-bottom: 5px;
} 
.imagebs{
    display: flex;
    margin-left: 1px;
}
.brook{
    height: 400px;
    width: 270px; 
    margin-left: 50px;
    margin-top: 55px;

}
.cadre-blanc{
    background:white;
    

}
.image-avatar img{

  padding-left: 50px;

}
.brook h4{
    margin-left:0px ;
    background:white;
    box-shadow: 1px 1px 1px 1px white;
    margin-bottom: 5px;
} 
.sept{
    height: 300px;
    width: 1400px;
    margin-top: 50px;
    background-color: white;
    text-align: center;
}
.word img{
    width: 100px;
    height: 90px;
    margin: 0px;
}
.word p{
    margin-top: 60px;
}
.word2{
    margin-top: 60px;
}
footer{
    height: 500px;
    width: 1440px;
    margin-top: 50px;
    background-color: rgb(238, 231, 231);
}
footer h4{
    margin-top: -40px;
    text-align: center;
    padding: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer h6{
    text-align: center;
    font-size: 12px;
    padding: 80px;
}
.foot{
    display: inline-flex;
}
.foot1{
    margin-left: 180px;
    margin-top: 65px;
}
.foot2{
    margin-left: 180px;
    margin-top: 65px;
}
.foot3{
    margin-left: 180px;
    margin-top: 65px;
}
.foot4{
    margin-left: 180px;
    margin-top: 65px;
}
@media screen and (max-width:480px){
    boby{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    header{
        width: 5%;
        display: none;
    }
}

   
   
    

        
      

    @media(max-width:768px){
        
    }